<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ir.tanyar.app">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
         android:allowBackup="true"
         android:icon="@mipmap/ic_launcher"
         android:label="@string/app_name"
         android:supportsRtl="true"
         android:theme="@style/AppTheme"
         android:name="ir.tanyar.app.Font">

         <activity
             android:name="ir.tanyar.app.LoginPage"
             android:theme="@style/AppTheme"
             android:screenOrientation="portrait">
             <intent-filter>
                 <action android:name="android.intent.action.MAIN" />
                 <category android:name="android.intent.category.LAUNCHER" />
             </intent-filter>
         </activity>

        <activity
            android:name="ir.tanyar.app.Products"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"
            />

        <activity
            android:name="ir.tanyar.app.Home"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"
            />

        <activity
            android:name="ir.tanyar.app.Kafsh"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"
            />

        <activity
            android:name="ir.tanyar.app.CustomerInfo"
            android:theme="@style/AppTheme"
            android:noHistory="true"
            android:screenOrientation="portrait"
            />

        <activity
            android:name="ir.tanyar.app.DarmaniRiali"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"
            />

        <activity
            android:name="ir.tanyar.app.DarmaniOfferi"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"
            />

        <activity
            android:name="ir.tanyar.app.FinalOrder"
            android:theme="@style/AppTheme"
            android:screenOrientation="landscape"
            />

        <activity
            android:name="ir.tanyar.app.Customers"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"
            />

        <activity
            android:name="ir.tanyar.app.Orders"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"
            />


        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="ir.tanyar.app.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_path"/>
        </provider>

    </application>

 </manifest>
